::selection{
    background-color: blueviolet;
    color: white;
}
.table_container{
    height: 100%;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
table {
    border: 3px solid black;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 5px;
}
.td_x{
    background-color: rgb(198, 65, 65);
    cursor: pointer;
    user-select: none;
    margin: 2px;
    border-radius: 50%;
}
.td_x:hover{
    background-color: rgb(107, 89, 89);
}
th {
    border: 1px solid black;
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 15px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
th:hover{
    background-color: rgb(97, 96, 96);
    color: aqua;
}
.groups_table > tbody > tr > td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
td {
    height: 20px;
    border: 1px solid black;
    background-color: rgb(120, 154, 216);
    font-size: 18px;
}
.groups_table > tbody > td > input{
    padding: 2px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: rgb(120, 154, 216);
}
.tags_cont{
    margin: 2px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.td_requests{
    cursor: pointer;
    user-select: none;
}
.td_tags{
    cursor: not-allowed;
}
.tag_box{
    white-space: nowrap;
    background-color: #4f90f2;
    margin: 1px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}
td.seat_number{
    background-color: gray;
}
.as_number{
    background-color: green;
}
td[belong = 'belong']{
    background-color: green;
}
td[belong = 'no belong']{
    background-color: grey;
}
.main_bord > .guest_table{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

td > input{
    background-color: azure;
    margin: 0;
    border-radius: 0;
    width: unset;
}
td{
    padding: 0;
    position: relative;
    max-width: '100px'
}
.table_cell{
    height: 100%;
}
.text_cell{
    padding: 5px 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
